*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 1);
}




/* Navbar Section Start */
nav{
    padding: 5px;
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    margin-top: 57px;
    justify-content: space-between;
}    
nav > p{
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
    margin-left: 20px;

    color: #E6533C;
}

nav > div{
    border: 1px solid rgb(72, 71, 71);
    display: flex;
    color: #FFFFFF;
    align-items: center;
    gap: 47px;
    padding: 4px 4px;
    border-radius: 39px;
}

.home-btn{
    color: #FFFFFF;
    border-radius: 46px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px;
    background-color: #E6533C;
}
.about-li{
    margin-right: 20px;
}

 nav > span {
    display: none;
    margin-right: 20px;
    
}
/*Navbar Section End*/











/*Banner section Start */
.banner-container{
    
    padding: 10px;
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 96px;

}

.banner-left{

    width: 50%;
    min-height: 200px;

}
.banner-left > h1{
    font-size:78px ;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.banner-left > p{
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 400;
    opacity: 50%;
    margin-bottom: 28px;

}
.banner-left > div > button{
    padding: 16px 40px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    background-color: #E6533C;
    border-radius: 42px;
}
.banner-left .btn-2{
    color: #FFFFFF;
    background-color: black;
    border: 1px solid;
}

.banner-right{
    width: 50%;
    
    min-height: 200px;
    display: flex;
    justify-content: end;

}
.banner-right>img{
    width: 55%;
    object-fit: cover;
    position: relative;
}

.tooltip{
    background-color: rgba(73, 71, 71, 0.388);
    color: #FFFFFF;
    position: absolute;
    right: 17%;
    top: 40%;
    padding: 10px 10px;
    border-radius: 12px;
}

.tooltip-2{
    background-color: rgba(73, 71, 71, 0.568);
    color: #FFFFFF;
    position: absolute;
    left: 60%;
    top: 67%;
    padding: 10px 10px;
    border-radius: 12px;
}
/* Banner section End*/






/* Second Banner Section Start*/
.main-layout{
    max-width: 1100px;
    min-height: 580px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
}
.number-1 > h1{
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 900;
    background-color: black;
}
.number-1 > p{
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
    color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 50px;
}
.number-2{
    max-height: 1100px;
    height: 403px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
}
.number-2 img{
    width: 100%;
    height: 100%;
}

 .box-2{
    
    grid-column: 2 / 4;
}
 .box-4{
  grid-column: 1/3;
}
/* Second Banner Section End */









/* Third Banner Section Start */
.main-2-layout{
    max-width: 1100px;
    min-height: 452px;
    margin: 0 auto;
}
.n-1{
    width: 671px;
    height: 120px;
    margin: 0 auto;
}
.n-1 > h1{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;
}
.n-1 > p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 50%;
    margin-top: 14px;
}

.parent{
   width: 100%;
   height: 274px;
   margin-top: 48px;
   display: flex;
   justify-content: center;
   gap: 80px;
   padding: 10px;
}
.parent > div > img{
    border-radius: 50%;
    margin-bottom: 10px;
}
.parent > div > h1{
    font-size: 1.3rem;
    font-weight: 600;
    color: #FFFFFF;
    margin: 5px 35px;
    

}
.parent > div > p {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 50%;
}
/* Third Banner Section End */


























/* Responsive code*/

@media screen and (max-width:576px){
    .menu-container{
        display: none;
    }
    nav > span{
        display: block;
        color: #FFFFFF;
    }
    .banner-container{
        flex-direction: column;
        margin-left: 20px;
    }
    .banner-left > div > button{
        flex-direction: row-reverse;
    }
    .banner-left,.banner-right{
        width: 100%;
    }
    .banner-right>img{
        width: 100%;
    }
    .tooltip{
      background-color: rgba(73, 71, 71, 0.388);
      color: #FFFFFF;
      position: absolute;
      right: 17%;
      top: 100%;
      padding: 10px 10px;
      border-radius: 12px;
    }
    .tooltip-2{
      background-color: rgba(73, 71, 71, 0.568);
      color: #FFFFFF;
      position: absolute;
      left: 20%;
      top: 140%;
      padding: 10px 10px;
      border-radius: 12px;
    }
    
    .number-2{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,200px);
    }
    .box-2{
    
      grid-column:auto;
    }
    .box-4{
      grid-column: auto;
    }
    .box-3, .box-6{
        display: none;
    }
    .n-1{
    
        width: 100%;
        text-align: center;
        margin-left: 50px;
        margin-bottom: 550px;

    }
    .parent{
       width: 100%;
       margin-left: 90px;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 50px;
       padding: 10px;
    
    }
    .parent > div > h1{
        margin-left: 50px;
    }
    .parent > div > p {

        margin-left: 10px;
    }
    .parent > div > img{
        margin-left: 20px;
    }
    


}
