*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter",sans-serif;
}
nav{
   max-width: 1600px;
   height: 92px;
   display: flex;
   padding: 30px;
   background-color: #1A0B2E;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}
nav .menu-container{
    width: 218px;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    
    color: #FFFFFF;
}
nav > p{
    margin-left: 200px;
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
    
}
nav .s{
    background: linear-gradient(rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
div > button {
    margin-right: 200px;
    border-radius: 1000px;
    padding: 12px 16px;
    background:linear-gradient(rgba(247, 233, 63,1),rgba(251, 9, 180, 1),rgba(145,0,248,1));
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
nav > span{
    color: #FFFFFF;
    display: none;
}


@media screen and (max-width:576px) {
    nav .menu-container {
        display: none;
    }
    div > button {
        display: none;
    }
    nav > span {
        width: 24px;
        height: 24px;
        align-content: center;
        display: block;
    }
    nav > P {
        margin-left: 20px;
    }
}